.boton{
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.ver{
  width: 6.25rem;
  height: 1.74rem;
  background-color: var(--color-gray-light);
  color: var(--color-black-dark);
  border-radius: 0.3rem;
}

.guardar{
  width: 8.75rem;
  height: 2.85rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: var(--color-primary-medium);
  color: var(--color-gray-light);
  border-radius: 0.4rem;
}

.limpiar {
  width: 8.75rem;
  height: 2.85rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: var(--color-black-lighter);
  color: var(--color-black-dark);
  border-radius: 0.4rem;
}

.nuevaCategoria{
  width: 15.875rem; 
  height: 3.375rem;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: var(--color-primary-medium);
  color: var(--color-gray-light);
  border-radius: 0.3rem;
}

.nuevoVideo{
  margin-top: 5rem;
  width: 100vw;
  height: 3.375rem; 
  font-size: 1.3125rem;
  font-weight: 500;
  background-color: var(--color-primary-medium);
  color: var(--color-gray-light);
}


@media only screen and (min-width: 1440px) {
  .nuevoVideoHeader {
    width: 11.25781rem;
    height: 3.375rem;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--color-black-dark);
    color: var(--color-gray-light);
    border-radius: 0.3rem;
    border: 0.1rem solid var(--color-gray-light);
  }

  .nuevoVideo{
    display: none;
  }
}