.encabezado{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: 2.5rem;
  background-color: var(--color-black-darker);
  border-bottom: 0.3rem solid var(--color-primary-medium);
}

.encabezado img{
  height: 1.5625rem;
  object-fit: contain;
}

.encabezado .boton{
  display: none;
}

@media only screen and (min-width: 1440px) {
  .encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    height: 5.875rem;
    background-color: var(--color-black-darker);
    border-bottom: 0.3rem solid var(--color-primary-medium);
  }

  .encabezado img{
    height: 2.5rem;
  }

  .encabezado .boton{
    display: block;
  }
}