.inputlabel {
  width: 100%;
  margin-left: 3px;
  font-weight: 600;
  font-size: clamp(16px, 1.7vw, 25px);
}

.inputContainer {
  font-family: 'Roboto', sans-serif;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
}

.input::placeholder {
  visibility: hidden;
}

.textArea::placeholder {
  visibility: hidden;
}

.errorMessage {
  display: none;
}

.inputContainerInvalid .errorMessage {
  display: block;
  justify-self: flex-start;
  margin-top: 0.2rem;
  padding-left: 0.2rem;
  font-size: 14px;
}

.inputContainer .inputLabel {
  position: absolute;
  top: 0.8rem;
  left: 0.55rem;
  width: 100%;
  margin-left: 3px;
  font-weight: 300;
  font-size: 1rem;
  transition: all 0.3s;
}

.input:not(:placeholder-shown)+.inputLabel,
.input:focus+.inputLabel {
  font-size: 0.6rem !important;
  top: 0.2rem !important;
  transition: all 0.3s;
}

.textArea:not(:placeholder-shown)+.inputLabel,
.textArea:focus+.inputLabel {
  font-size: 0.6rem !important;
  top: 0.25rem !important;
  transition: all 0.3s;
}

.input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  width: 100%;
  height: 2.8rem;
  padding: 1rem 0.64rem 0.64rem 0.64rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  border: none;
  outline: none;
}

.form .colorInput{
  padding: 0.6rem 0.5rem 0.5rem 0.5rem;
}

.select {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  width: 100%;
  height: 2.8rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  border: none;
  outline: none;
}

.textArea {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  width: 100%;
  height: 7.01869rem;
  padding: 1.3rem 0.64rem 0.64rem 0.64rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  resize: none;
  border: none;
  outline: none;
}

.inputContainerInvalid .inputV {
  border-bottom: 2px solid #F51400;
  color: #F51400;
}

.inputContainerInvalid .inputLabel {
  color: #F51400;
}

.inputContainerInvalid .errorMessage {
  color: #F51400;
}

.inputLabel {
  color: var(--color-gray-dark);
}

.input,.textArea,.select {
  background-color: var(--color-gray-semidark);
  color: var(--color-gray-medium);
  transition: 200ms all;
}

.input:focus,.textArea:focus,.select:focus{
  border-bottom: 0.25rem solid var(--color-primary-medium);
  transition: 200ms all;
}


@media only screen and (min-width: 1440px) {

  .contactSection form {
    width: 65%;
  }

  .contactSection form input {
    height: 45px;
  }

  .contactSection form button {
    height: 50px;
  }


  .input, .select, .form .colorInput{
    height: 3.125rem;
    font-size: 1.125rem;
    padding: 1rem 1rem 0.5rem 1rem;
  }

  .textArea{
    height: 9.375rem;
    font-size: 1.125rem;
  }

  .inputContainer .inputLabel{
    top: 0.94rem;
    font-size: 1.125rem;
  }

  .input:not(:placeholder-shown)+.inputLabel,
  .input:focus+.inputLabel {
    font-size: 0.75rem !important;
    top: 0.2rem !important;
  }

  .textArea:not(:placeholder-shown)+.inputLabel,
  .textArea:focus+.inputLabel {
    font-size: 0.75rem !important;
  }
}