.carrusel{
  width: 100vw;
  box-sizing: border-box;
  height: auto;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}

.slider{
  justify-self: center;
  width: 100%;
  min-width: 0;
  min-height: 0;
}

.slider .slick-dots li button:before{
  color: var(--color-gray-light);
}

.slider .slick-dots .slick-active button:before {
  color: var(--color-gray-light);
}


.carruselHeader{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: 0 1rem;
  row-gap: 0.5rem;
}

.sectionTitle{
  background-color: var(--color-frontend);
  color: var(--color-gray-light);
  font-size: 1rem;
  font-weight: 400;
  width: 5.3125rem;
  height: 2.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
}

.sectionDesc{
  width: 100%;
  color: var(--color-gray-light);
  font-size: 0.75rem;
  font-weight: 300;
}

.videoCard{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 5rem;
}

.videoMiniature{
  width: 100%;
  object-fit: cover;
}