.outlineTable{
  display: none;
}

@media only screen and (min-width: 1024px) {
  .outlineTable {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    width: 95%;
    border: 0.25rem solid var(--color-primary-medium);
  }

  .table {
    width: 100%;
    padding: 3rem;
    color: var(--color-gray-light);
    font-family: 'Roboto', sans-serif;
  }

  .table th:first-child {
    border-left: none;
  }

  .table th:last-child {
    border-right: none;
  }

  .table th {
    border-left: 0.25rem solid var(--color-primary-medium);
    border-right: 0.25rem solid var(--color-primary-medium);
    border-bottom: 0.25rem solid var(--color-primary-medium);
    padding: 0.62rem;
    font-size: 1.7rem;
    font-weight: 400;
  }

  .table td {
    border-right: 0.25rem solid var(--color-black-dark);
  }

  .table td:last-child {
    border-right: none;
  }

  .table tr {
    border-bottom: 0.25rem solid var(--color-black-dark);
  }

  .table tr:last-child {
    border-bottom: none;
  }

  .table td {
    padding: 0.62rem;
    font-size: 1.3rem;
    font-weight: 300;
  }



  .table td button {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--color-gray-light);
  }
}

@media only screen and (min-width: 1440px) {

  .table th {
    font-size: 2.1875rem;
  }

  .table td {
    font-size: 1.6875rem;
  }

  .table td button{
    font-size: 1.6875rem;
  }

}