html{
  background-color: var(--color-black-dark);
  height: 100%;
  display: flex;
  justify-content: center;
}

#root{
  width: 100vw;
  height: 100vh;
}

a{
  text-decoration: none;
}

.nuevaCatPage{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}